@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Nanum+Myeongjo:wght@400;800&family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    font-family: 'Nanum Myeongjo', serif;
    background-color: black;
    color: #61DBFB;
}

p {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header, footer, h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

header span {
    font-family: 'Bubblegum Sans', cursive;
    color: black;
    font-size: xx-large;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav ul li {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: black;
}

header ul li:hover {
    font-weight: bold;
}

h1, h2, h3 {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px 100px;
    min-height: calc(100vh - 272.5px);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #61DBFB;
}

footer {
    display: flex;
    justify-content: center;
    padding: 50px;
    font-size: small;
    font-style: italic;
}
