.products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.product-highlight {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px solid #61DBFB;
    border-radius: 5px;
    padding: 20px;
    height: 200px;
    width: 200px;
}

.product-highlight article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-image {
    font-size: 100px;
}

.product-price {
    font-style: italic;
}
